@font-face {
    font-family: "Avenir-next-regular";
    src: url("../fonts/AvenirNextLTPro-Regular.otf");
}

:root {
    --base-color: #6e89af;
    --sec-color:#336699;
    --base-text-color:#666;
    --main-base-color:white;
}

@media all and (min-width:768px) {
    .navbar-brand {
        display: none;
    }

        .imgLogo {
            margin:10px;
        }

            #imgLeft {
                float: left;
            }

            #imgRight {
                float: right;
            }
}

@media all and (max-width:767px)
{
    header > .container-fluid {
        display: none;
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

a {
    text-decoration: none;
}

    a:hover {
        opacity: 0.6;
    }

.navbar.navbar-default {
    background-color: #fff;
}


/* Header */
.navbar-toggle.collapsed {
    border-color:var(--base-color);
}

.icon-bar {
    background-color:var(--base-color);
}

header > .container-fluid {
    height: 120px;
}

    .imgLogo {
        height: 100px;
    }

    .imgIcon {
        height: 40px;
        margin-top:-10px;
    }


    /* Body */
.herrera-rivera-header-hightlight {
    font-weight: bold;
    color: var(--sec-color);
}

.h1_servicios {
    font-size: 40px !important;
}

    /* Footer */
footer {
    margin-top:30px;
    clear: both;
}

    footer .well {
        height: 60px;
        background-color: var(--base-text-color);
        margin-bottom: 0;
    }

        footer ul li
        {
            display: inline;
        }

        footer .well a {
            color: #fff;
            margin-left: 5px;
            margin-right: 10px;
            float: right;
        }