/* Body */
    /* Links section */
.divLinks ul{
    text-align: center;
}

    .divLinks ul li {
        display: inline;
    }

        .divLinks ul li img {
            margin-top:15px;
            margin-bottom:15px;
        }