/* Body */
.myImage {
    max-height: 578px;
    width: 100%;
}

.img-info, .img-info * {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

    .img-info > img {
        width: 250px;
    }

        .img-info a, .img-info a:visited {
            color: var(--base-text-color);
        }

.divLinks ul{
    text-align: center;
}

    .divLinks ul li {
        display: inline;
    }

        .divLinks ul li img {
            margin-top:15px;
            margin-bottom:15px;
        }