header, .menu {
    background-color: var(--main-color);
}

#emotion-header {
    float: left;
}

.img-info a, .img-info a:visited {
    color: var(--base-text-color);
    text-decoration: none;
}

    .img-info a {
        width: 100%;
        clear: both;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }

.divLinks h1 {
    width: 100%;
    float: left;
    text-align: center;
    color: var(--base-text-color);
}

.divLinks ul {
    text-align: center;
}      

footer {
    clear: both;
    background-color: var(--base-text-color);
}

footer ul li {
    text-decoration: none;
}

    footer ul li a, footer ul li a:visited {
        color: white;
    }